<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Tiny Project</title>
	
		<!--<link rel=stylesheet type=text/css href='/static/style.css'>-->
	</head>
	<body>
		<div class=page>
  			<h1>User Input</h1>
  			<div id="category1">
			<p><strong>Address</strong> The correct answer is the <strong>Address</strong>.</p>
			</div>

    			<h4>Please enter your Address, City, State.</h4>

    			<form id='input' method='post' action='index'>	
	  			<p>
					Address: <input type="text" name='Address, City, State' id="q1a"><label for="q1a">Address</label>
	  			</p>
	  			<p>
	
	    			<div id="results">
Find me!
</div>
	  			</p>
				</form>

  			</div>
		</div>
	</body>
</html>
