<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Tiny Project</title>
	
		<!--<link rel=stylesheet type=text/css href='/static/style.css'>-->
	</head>
	<body>
		<div class=page>
  			<h1>User Input</h1>
  			<div class=metanav>

    			<h4>Please enter your Address, City, State.</h4>

    			<form id='input' method='post' action='index'>	
	  			<p>
					Address: <input type='text' name='Address, City, State' />
	  			</p>
	  			<p>
	
	    			<input type="submit" value="Find Me">
	  			</p>
				</form>

  			</div>
		</div>
	</body>
</html>
